<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="MongoDbExplorer" />
    <meta name="keywords" content="MongoDb " />
    <meta name="author" content="Juan Sebastian Vaca" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Mongo Explorer</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
 
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
      <div class="container">
          <a class="navbar-brand" href="https://sebastianvaca99.github.io/Personal-Home-Page/"> Juan sebastian Vaca</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#Explorer">Explorer</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <br>
    <br>

    <div class="container">
      <h1>Mongo Explorer</h1>
    <br>
      <div class="row">      
          <p>
            The objective of the project is to make a mongo database explorer. The application must list all existing bds on a server, allow to select the bd and then list the collections on it. Once the collections are listed, one can be selected and will show the first 20 records in chronological order in that collection.
          </p>
      </div>
    </div>
    <div class="container" id="Images">
      <p>
        Technologies used:
      </p>
      <br>
      <div class="row">
        <div class="col-sm-4">
            <img class="rounded" src="../images/mongodb.png" alt="mongo db"  />
        </div>
        <div class="col-sm-4">
          <img class="rounded" src="../images/express.jpg" alt="express logo"  >
        </div>
        <div class="col-sm-4">
          <img class="rounded" src="../images/node-logo.jpg" alt="node logo" >
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>

     <div class="container">
      <h3>FUNCTIONALITIES</h3>
      <br>
       <div class="row">
         <p>
           Please select one of the following databases:
         </p>
         <br>
        <select id="bdropdown" class="ui fluid dropdown" onchange= traercol(); >
          <option disabled selected value> -- select an option --</option>
          <% databases.databases.forEach(database => { %>
          <option> <%= database.name %> </option>
          <% }); %>
        </select>
       </div>
     </div>
     <br>
     <div class="container">
      <div class="row">
        <p>
          Please select one of the following collections of the databse selected:
        </p>
        <br>
        <select id="cdropdown" class="ui fluid dropdown" onchange= traercontenido();>
          <option disabled selected value> -- select an option --</option>
        </select>
      </div>
    </div>
    <br>
    <div class="container" id="myContacts">
    </div>
    <div class="row">

      <%- include("./viewcontent.ejs") %>
    </div>
    <script src= "../javascripts/contents.js"></script>
    <script src= "../javascripts/collections.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
