<div class="container col-md-8" id="schedules" style="visibility: hidden;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Day</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
      </tr>
    </thead>
    <tbody id="schedulesBody">
    </tbody>
  </table>
</div>